
@{
    Layout = "_Layout";
}
@section Styles
{
    <link rel="stylesheet" href="~/lib/jkanban/dist/jkanban.min.css">
    <link rel="stylesheet" href="~/css/Board/board.css">

}

<div class="section container" id = "board_main_container"style="width: 90%;">
    <div class="no-padding white">
        <div class="section-header">
            <h5 class="section-title">Quadro Kanban</h5>    
        </div>
        <div class="row">
            <div class="col s12 board--content" id="board_content">
                 <div class="kanban" id="myKanban">
                       
                 </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jkanban/dist/jkanban.min.js"></script>
    <script src="~/js/Boards/board.js"></script>

}
