@model CCMS.NEOPE.Application.ViewModels.Assets.EditAssetModel

@{
    Layout = "_Layout";
}

<div class="section container">
    <div class="no-padding white">
        <div class="section-header">
            <h5 class="section-title">Atualizar ativo</h5>    
        </div>
        <div class="row">
            <div class="col s12">
                <div >
                    <form asp-controller="Assets" asp-action="Edit" method="POST">
                        <div class="card">
                            <div class="fields">
                                <div class="red-text text-darken-4" asp-validation-summary="ModelOnly"></div>
                            </div>
                
                            <div class="row">
                                <div class="input-field col s6">
                                    <input asp-for="Code" class="validate" id="Code"/>
                                    <label asp-for="Code" id="Code"></label>
                                    <span asp-validation-for="Code" class="red-text text-darken-4"></span>
                                </div>
                                <div class="input-field col s6">
                                    <input asp-for="Description" class="validate" id="Description"/>
                                    <label asp-for="Description" id="Description"></label>
                                    <span asp-validation-for="Description" class="red-text text-darken-4"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <select asp-for="SelectedProject" asp-items="@Model.Projects" class="validate" id="SelectedProject">
                                    </select>
                                    <label asp-for="SelectedProject" id="Projects"></label>
                                    <span asp-validation-for="SelectedProject" class="red-text text-darken-4"></span>
                                </div>
                                <div class="input-field col s6">
                                    <input asp-for="AttachmentsLink" class="validate" id="AttachmentsLink"/>
                                    <label asp-for="AttachmentsLink" id="AttachmentsLinkLabel"></label>
                                    <span asp-validation-for="AttachmentsLink" class="red-text text-darken-4"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <select asp-for="TypeId" asp-items="@Model.Types" class="validate" id="Types"></select>
                                    <label asp-for="TypeId" id="Types"></label>
                                    <span asp-validation-for="TypeId" class="red-text text-darken-4"></span>
                                </div>
                                <div class="input-field col s6">
                                    <div class="center">
                                        <a asp-controller="Assets" asp-action="Activity" asp-route-id="@Model.Id" class="waves-effect waves-light btn-large grey darken-1">Status do comissionamento</a>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                        <div class="buttons right">
                            <a class="waves-effect waves-light btn grey" asp-action="Index">Cancelar</a>
                            <a class="waves-effect waves-light btn red modal-trigger" href="#cancelModal">Deletar</a>
                            <a id="deleteLink" asp-action="Delete" asp-route-id="@Model.Id" style="display: none;"></a>
                            <button type="submit" class="waves-effect waves-light btn green darken-4">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
   
</div>

<!-- Modal Structure -->
<div id="cancelModal" class="modal">
    <div class="modal-content">
        <p>Tem certeza que deseja deletar?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-light btn grey">Cancelar</a>
        <a id="ok" asp-action="Index" asp-controller="Assets" class="modal-close waves-effect waves-light btn green darken-4">Sim</a>
    </div>
</div>

@section Scripts
{
    <script src="~/js/delete-modal.js"></script>
}