.board--content {
    overflow-y: scroll;
    overflow-x: scroll;
}

.kanban-board-header {
    color: #fff;
    background-color: #5c881a;
}

#board_main_container {
    max-width: 3200px;
    max-height: 640px;
    min-height: 640px;
}
#board_content {
    min-height: 640px;
    max-height: 640px;
}
