@model CCMS.NEOPE.Application.ViewModels.TaskType.AddTaskTypeModel

@{
    Layout = "_Layout";
}

<div class="section container">
    <h5>Criar novo tipo de atividades</h5>
    <form class="card" asp-controller="TaskTypes" asp-action="Add" method="POST">
        <div>
            <div class="fields">
                <div class="red-text text-darken-4" asp-validation-summary="ModelOnly"></div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Name" class="validate" id="Name"/>
                    <label asp-for="Name" id="Name"></label>
                    <span asp-validation-for="Name" class="red-text text-darken-4"></span>
                </div>
            </div>

            <div class="buttons right">
                <a class="waves-effect waves-light btn grey" asp-action="Index">Cancelar</a>
                <button type="submit" class="waves-effect waves-light btn green darken-4">Salvar</button>
            </div>            
        
        </div>
    </form>
</div>