

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

@section datatableStyle
{
    <link href="~/lib/datatables/datatables.css" rel="stylesheet">
    <link href="~/lib/datatables/Responsive-2.3.0/css/responsive.dataTables.min.css" rel="stylesheet" />
}

<div class="section container" >
    <div class="no-padding white">
        <div class="section-header">
            <h5 class="section-title">Tipos de atividades</h5>    
        </div>
        
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <table id="table-tasktypes" class="row-border hover nowrap" style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="display: none;">Id</th>
                            <th>Nome</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="~/lib/datatables/Responsive-2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="~/js/tasktypes-index.js"></script>
}
