@{
    ViewData["Title"] = "Início";
    Layout = "_Layout";
}
@section Styles
{
    <link rel="stylesheet" href="/css/summary.css"/>
}

    
<div class="section container">
    
    <div id="kpis" class="row">
        <div class="col s4">
            <!--kpi start bellow-->
            <div class="kpi">
                <div class="kpi-header">
                        <div class="kpi-title">Progresso Geral</div>
                </div>
                <div class="kpi-value card center" >
                        <div id="progressCard">Loading...</div>
                </div>
            </div>

        </div>
        <div class="col s4">
            <!--kpi start bellow-->
            <div class="kpi">
                <div class="kpi-header">
                    <div class="kpi-title">Conformidade Geral</div>
                </div>
                <div class="kpi-value card center">
                        <div id="conformityCard">Loading...</div>
                </div>
            </div>

        </div>
        <div class="col s4">
            <!--kpi start bellow-->
            <div class="kpi">
                <div class="kpi-header">
                    <div class="kpi-title">Aderência Geral</div>
                </div>
                <div class="kpi-value card center">
                        <div id="adherenceCard">Loading...</div>
                </div>
            </div>

        </div>
    </div>

    <div id="actions" class="row">
        
    </div>
    
</div>



@section Scripts
{
    <script src="/lib/echarts/js/echarts.js"></script>
    <script src="/js/Summary/summary.js"></script>
}