@{
    ViewData["Title"] = "Início";
    Layout = "_Layout";
}
@section Styles
{
    
}

<div class="section container">
    <div id="kpi" class="row">
        <div class="col s3" style="background: #0c0c0c">
            quadro 1
        </div>
        <div class="col s3" style="background: #0c0c0c">
            quadro 2     
        </div>
        <div class="col s3" style="background: #0c0c0c">
            quadro 3     
        </div>
        <div class="col s3" style="background: #0c0c0c">
            quadro 4     
        </div>
        
    </div>
    <div id="actions" class="row">
        
    </div>
    
</div>



@section Scripts
{
    
}