@{
    Layout = "_Layout";
}

@section Styles
{
    
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Calendário</h2>
            <div class="card">
                <div id="calendar" class="fc fc-unthemed fc-ltr">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="js/admin.js"></script>
}