@{
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="/css/Calendar/calendar.css" />
}

<div class="section container">
    <div class="no-padding white">
        <div class="section-header">
                <h5 class="section-title">Calendário</h5>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div id="calendar" class="fc fc-unthemed fc-ltr">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts {
    <script src="/js/admin.js"></script>
    <script src="/js/Calendar/calendar.js"></script>
}