@using CCMS.NEOPE.Infra.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUser = await UserManager.FindByNameAsync(@User.Identity?.Name ?? string.Empty);
    var name = string.Empty;
    var photoPath = string.Empty;
    var isAdmin = User?.Identity?.IsAuthenticated;
    
    if(isAdmin != null && currentUser != null)
        isAdmin = isAdmin.Value && await UserManager.IsInRoleAsync(currentUser, "Administrator");
  
    if (currentUser != null)
    {
        name = currentUser.FirstName ?? string.Empty;
        photoPath = currentUser.Photo;
    }
  
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Portal do comissionamento</title>
    
    <environment include="Development">
        @await RenderSectionAsync("datatableStyle", required:false)
        <link href="~/lib/fullcalendar-3.10.5/fullcalendar.min.css" rel="stylesheet">
        <link href="~/lib/materialize/css/materialize.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="~/css/site.css" rel="stylesheet"/>
        @await RenderSectionAsync("Styles", required: false)
    </environment>
    
    <environment exclude="Development">
        @await RenderSectionAsync("datatableStyle", required:false)
        <link href="~/lib/fullcalendar-3.10.5/fullcalendar.min.css" rel="stylesheet">
        <link href="~/lib/materialize/css/materialize.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="~/css/site.css" rel="stylesheet"/>
        @await RenderSectionAsync("Styles", required: false)
    </environment>
    
</head>

<body style="overflow: auto;">
<header>
    <div class="navbar-fixed">
        <nav class="navbar principal-color">
            <div class="nav-wrapper"><a asp-action="Index" asp-controller="Home" class="brand-logo white-text ">Início</a>
                <ul id="nav-mobile" class="right">
                    <li>
                        <div class="row">
                            <a href="#!" data-target="chat-dropdown" class="dropdown-trigger waves-effect">
                                <div class="col s6">
                                    <span class="white-text" style="padding-right: 5px">@name </span>
                                </div>
                                <div class="col s6">
                                    @if (string.IsNullOrEmpty(photoPath))
                                    {
                                        <img src="~/Icons/account_circle.svg" class="circle responsive-img" alt="" style="width: 32px; height: 32px; top: 15%;"/>
                                    }
                                    else
                                    {
                                        <img src="@photoPath" class="circle responsive-img" alt="" style="width: 32px; height: 32px; top: 15%;"/>
                                    }
                                </div>
                            </a>
                        </div>
                                                                                                                                          
                        <div id="chat-dropdown" class="dropdown-content dropdown-tabbed" tabindex="0" style="">
                            <div id="settings" class="col s12 active" tabindex="0" style="display: block;">
                                <div class="settings-group">
                  
                                    <div  class="setting">
                                        <a asp-controller="Users" asp-action="Profile" >Meu perfil</a>
                                    </div>

                                    @if (isAdmin.HasValue && isAdmin.Value)
                                    {
                                        <div  class="setting">
                                            <a asp-controller="Admin" asp-action="Index">Configurações</a>
                                        </div>
                                    }

                                    <div  class="setting">
                                        <a asp-controller="Users" asp-action="Logout" >Logout</a>
                                    </div>

                                </div>
                            </div>
                        </div>
            
                    </li>
                </ul><a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons white-text">menu</i></a>
            </div>
        </nav>
    </div>
    <ul id="sidenav-left" class="sidenav">
        <li><a asp-action="Index" asp-controller="Home" class="logo-container center"> <img src="~/Images/nst.PNG" class="center" alt="Neoenergia"  /></a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="waves-effect"><a class="collapsible-header" tabindex="0">Comissionamentos<i class="material-icons chevron">chevron_left</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Projects" class="waves-effect">Listar<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Add" asp-controller="Projects" class="waves-effect">Criar novo<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Add" asp-controller="Tasks" class="waves-effect">Criar atividade<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Index" asp-controller="TaskTypes" class="waves-effect">Tipos de atividade<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Add" asp-controller="TaskTypes" class="waves-effect">Criar tipo de atividade<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Index" asp-controller="TaskSteps" class="waves-effect">Listar etapas<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Add" asp-controller="TaskSteps" class="waves-effect">Criar etapa<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Add" asp-controller="Tasks" class="waves-effect">Criar roteiro<i class="material-icons">show_chart</i></a></li>
                        </ul>
                    </div>
                </li>
        
                <li class="waves-effect"><a class="collapsible-header" tabindex="0">Ativos<i class="material-icons chevron">chevron_left</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Assets" class="waves-effect">Listar<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Add" asp-controller="Assets" class="waves-effect">Criar Novo<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Index" asp-controller="AssetTypes" class="waves-effect">Tipos<i class="material-icons">show_chart</i></a></li>
                        </ul>
                        <ul>
                            <li><a asp-action="Add" asp-controller="AssetTypes" class="waves-effect">Criar Tipo<i class="material-icons">show_chart</i></a></li>
                        </ul>
                    </div>
                </li>
        
                <li id="backlog"><a asp-action="Index" asp-controller="Tasks" class="waves-effect">Backlog<i class="material-icons">list</i></a></li>
                <li id="painel"><a asp-action="Index" asp-controller="Board" class="waves-effect">Painel<i class="material-icons">dashboard</i></a></li>
                <li id="cronograma"><a asp-action="Index" asp-controller="Calendar" class="waves-effect">Cronograma<i class="material-icons">cloud</i></a></li>
                <li id="cronograma"><a asp-action="Index" asp-controller="Calendar" class="waves-effect">Linha do tempo<i class="material-icons">cloud</i></a></li>

                <li class="bold waves-effect"><a class="collapsible-header" tabindex="0">Dashboards<i class="material-icons chevron">chevron_left</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Dashboards" class="waves-effect">Fullscreen with Chart<i class="material-icons">show_chart</i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

<main>
    @RenderBody()
</main>

<footer>
    <div class="no-padding page-footer">
        &copy; 2022 - Portal do Comissionamento - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<environment include="Development">
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/fullcalendar-3.10.5/fullcalendar.min.js"></script>
    <script src="~/lib/fullcalendar-3.10.5/locale/pt-br.js"></script>

    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/js/init.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</environment>


<environment exclude="Development">
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/js/moment.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/fullcalendar-3.10.5/fullcalendar.min.js"></script>
    <script src="~/lib/fullcalendar-3.10.5/locale/pt-br.js"></script>

    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/init.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</environment>

</body>
</html>