@model CCMS.NEOPE.Application.ViewModels.AssetTypes.AddAssetTypeModel

@{
    Layout = "_Layout";
}

<div class="section container">
    <div class="no-padding white">
        <div class="section-header">
            <h5 class="section-title">Criar novo tipo de ativo</h5>    
        </div>
        <div class="row">
            <div class="col s12">
                <div >
                    <form asp-controller="AssetTypes" asp-action="Add" method="POST">
                        <div class="card">
                            <div class="fields">
                                <div class="red-text text-darken-4" asp-validation-summary="ModelOnly"></div>
                            </div>
                
                            <div class="row">
                                <div class="col s6">
                                    <div class="input-field">
                                        <input asp-for="Name" class="validate" id="Name"/>
                                        <label asp-for="Name" id="Name"></label>
                                        <span asp-validation-for="Name" class="red-text text-darken-4"></span>
                                    </div>
                                    <div class="input-field">
                                        <select asp-for="SelectedSteps" asp-items="@Model.AvailableSteps" class="validate" id="SelectedSteps">Selecione um status</select>
                                        <label asp-for="SelectedSteps" id="AssigneeIdsLabel"></label>
                                        <span asp-validation-for="SelectedSteps" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    <textarea asp-for="Description" class="validate" id="Description" style="resize:none; height: 200px;" rows="6" ></textarea>
                                    <label asp-for="Description" id="Description"></label>
                                    <span asp-validation-for="Description" class="red-text text-darken-4"></span>
                                </div>
                            </div>
                        </div>
                                
                        <div class="buttons right">
                            <a class="waves-effect waves-light btn grey" asp-action="Index">Cancelar</a>
                            <button type="submit" class="waves-effect waves-light btn green darken-4">Salvar</button>
                        </div>
                
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
</div>